@-moz-document url-prefix("https://juejin.im/post/") {
  .activity-recommend, .main-header-box, .sidebar, .recommended-area, .article-suspended-panel {
    display: none !important;
  }
}
@-moz-document url-prefix("https://blog.csdn.net/") {
  body > aside {
    display: none;
  }

  #csdn-toolbar {
    display: none;
  }

  #mainBox {
    display: flex;
    justify-content: center;
  }
  #mainBox > div {
    display: flex;
  }
  #mainBox > aside {
    display: none;
  }
  #mainBox #article_content {
    height: auto !important;
  }
  #mainBox #article_content .article-copyright {
    display: none;
  }
  #mainBox .hide-article-box {
    display: none;
  }
  #mainBox > main {
    display: block;
    width: 960px;
    max-width: 100%;
    float: none;
    box-sizing: border-box;
  }
  #mainBox > main > .recommend-box {
    display: none;
  }
  #mainBox > main div.t0 {
    display: none;
  }
  #mainBox > .recommend-right {
    display: none;
  }
  #mainBox .recommend-item-box, #mainBox .recommend-loading-box {
    display: none;
  }

  .tool-box, .csdn-side-toolbar {
    display: none !important;
  }
}
@-moz-document regexp("https://[\\w-]+\\.iteye\\.com/blog/.*") {
  #csdn-toolbar, #header {
    display: none;
  }

  #content {
    display: flex;
    justify-content: center;
  }
  #content > div {
    display: flex;
  }
  #content #local, #content > .blog-sidebar {
    display: none;
  }
  #content #main {
    display: block;
    width: 960px;
    max-width: 100%;
    float: none;
    box-sizing: border-box;
  }
  #content #main > div.blog_main > div.blog_comment {
    display: none;
  }

  #blog_content {
    height: auto !important;
  }
  #blog_content .hide-article-box {
    display: none !important;
  }
}
@-moz-document url-prefix("https://www.jianshu.com/p/") {
  body > nav {
    display: none;
  }
  body .note-bottom {
    display: none;
  }

  #note-fixed-ad-container, #web-note-ad-1 {
    display: none !important;
  }

  .note {
    display: flex;
    justify-content: center;
  }
  .note > div {
    display: flex;
  }
  .note > .post {
    display: block;
    width: 960px;
    max-width: 100%;
    float: none;
    box-sizing: border-box;
  }
  .note > .post .meta-bottom, .note > .post .follow-detail {
    display: none;
  }
}
@-moz-document url-prefix("https://www.zhihu.com/question/") {
  .AdblockBanner {
    display: none;
  }

  header[role=banner] {
    display: none;
  }

  .QuestionHeader .QuestionHeader-footer {
    display: none;
  }

  .QuestionHeader-content .QuestionHeader-tags, .QuestionHeader-content .QuestionHeader-side {
    display: none;
  }

  .Question-main {
    display: flex;
    justify-content: center;
  }
  .Question-main > div {
    display: flex;
  }
  .Question-main .Question-mainColumn {
    display: block;
    width: 960px;
    max-width: 100%;
    float: none;
    box-sizing: border-box;
  }
  .Question-main .Question-sideColumn {
    display: none !important;
  }

  .QuestionRichText--expandable.QuestionRichText--collapsed {
    max-height: none !important;
    overflow: auto !important;
  }
  .QuestionRichText--expandable.QuestionRichText--collapsed .QuestionRichText-more {
    display: none !important;
  }
}
@-moz-document url-prefix("https://www.cnblogs.com/") {
  #header, #footer {
    display: none;
  }

  #leftmenu {
    display: none;
  }

  #main_content {
    display: flex;
    justify-content: center;
  }
  #main_content > div {
    display: flex;
  }
  #main_content #content {
    display: block;
    width: 960px;
    max-width: 100%;
    float: none;
    box-sizing: border-box;
    margin: 0;
  }
  #main_content #content #comment_form {
    display: none;
  }
  #main_content #green_channel {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
