@mixin container {
    display: flex;
    justify-content: center;
    > div {
        display: none;
    }
}
@mixin box-block{
    display: block;
    width: 960px;
    max-width: 100% !important;
    float: none;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}