@mixin container {
    display: flex;
    justify-content: center;
    > div {
        display: flex;
    }
}
@mixin box-block{
    display: block;
    width: 960px;
    max-width: 100%;
    float: none;
    box-sizing: border-box;
}