@-moz-document url-prefix("https://blog.csdn.net/") {

    #csdn-toolbar{
        display: none;
    }
    #mainBox{
        display: flex;
        justify-content: center;
        >aside{
            display: none;
        }
        #article_content{
            height: auto !important;
        }
        .hide-article-box{
            display: none;
        }
        >main{
            // 底部推荐
            > .recommend-box{
                display: none;
            }
        }
        // 右边推荐
        > .recommend-right{
            display: none;
        }
    }
    //屏蔽点赞工具条
    .tool-box{
        display: none !important;
    }
}
