@import "common";

@-moz-document url-prefix("https://www.jianshu.com/p/") {
    #__next {
        > header:first-of-type {
            display: none;
        }

        > footer:first-of-type {
            display: none;
        }
    }
    div[role="main"] {
        > div:first-of-type {
            > section:last-of-type {
                display: none;
            }
        }

        > aside:first-of-type {
            display: none;
        }
    }

}
