@import "common";

@-moz-document url-prefix("https://www.zhihu.com/question/") {
    .AdblockBanner {
        display: none;
    }
    header[role='banner'] {
        display: none;
    }
    main[role='main']{

        .Question-main{
            >.Question-sideColumn{
                display: none;
            }
            .Question-mainColumn{
                width: auto;
            }
        }
    }
}